body {
    background-color: #777777;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

h1 {
    text-align: center;
}

#closeSideNav {
    padding-top: 60px;
}

h2 {
    text-align: center;
    background-color: #c8c8c8;
    border-top: 2px solid #555;
    border-bottom: 2px solid #555;
    margin: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

ol li {
    word-wrap: break-word;
}

td, th {
    border: 2px solid black;
    text-align: left;
    vertical-align: top;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.containButtons {
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 18px;
    /*width: 100%;*/
}

.collapsible {
    background-color: #777777;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: 2px solid black;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: block;
    width: 100%;
}

.active, .collapsible:hover {
    background-color: #555555;
}

.content0 {
    display: none;
    overflow: hidden;
}

.content0 .collapsible {
    background-color: #dddddd;
    color: black;
    padding-left: 30px;
}

.innerContent {
    display: none;
    overflow: hidden;
    padding: 18px;
    background: #d6d6d6;
    margin: auto;
    box-shadow: 1px 1px 1px 4px #c8c8c8 inset;
}

.content {
    display: none;
    overflow: hidden;
    /* Old Background Color
    background-color: #f1f1f1;*/
    padding: 18px;
    /* Originally for inner drop-downs */
    background: #d6d6d6;
    margin: auto;
    box-shadow: 1px 1px 1px 4px #c8c8c8 inset;
}

.code, .unityCode {
    border-radius: 20px;
    background-color: #dddddd;
    margin: 10px;
    width: 90%;
    font-family: Arial, sans-serif;
    /*resize: horizontal;*/
    overflow-x: scroll;
}

.code-sl {
    background-color: #c8c8c8;
    font-size: medium;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: -10px;
    box-shadow: 1px 1px 1px 2px #bbbbbb;
    font-family: Arial, sans-serif;
}

strike {
    text-decoration: line-through;
}

underline {
    text-decoration: underline;
}

underline:hover {
    cursor: pointer;
}

mark {
    background-color: #dddddd;
    color: green;
}

sql {
    color: blue;
}

.copy {
    float: right;
    user-select: none;
    background-color: #dddddd;
    color: #777777;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px 5px 5px;
}

.redirect {
    background-color: #777777;
    color: white;
    padding: 15px 32px;
    text-align: center;
    align: center;
    text-decoration: none;
    border: 2px solid black;
    font-size: 16px;
    margin: 4px 2px;
    display: inline-block;
    cursor: pointer;
}

.redirect:hover {
    background-color: #555555;
}

.copy:hover {
    background-color: #777777;
    color: white;
}

.code p, .unityCode p {
    /*width: 1000px;*/
    /*padding: top right bottom left*/
    padding: 5px 20px 5px 18px;
}

@media screen and (min-width: 600px) {
    .code p, .unityCode p {
        word-wrap: break-word;
    }
    .center img {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 600px) {
    .code-sl {
        overflow-x: scroll;
        border-radius: 5px 5px 0px 0px;
    }
    .center {
        width: 100%;
    }
    .center img {
        width: 100%;
    }
}

.mainMethod {
    border-top: 1px solid black;
	padding-left: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar span {
    font-size: 25px;
    cursor: pointer;
    float: left;
    color: white;
    padding: 14px 16px;
}

.navbar a {
    font-size: 21px;
    cursor: pointer;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:not(:last-of-type) {
    float: left;
}

.navbar a:last-of-type {
    float: right;
}

.navbar a:hover {
    background-color: #777777;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #303030;
}

.scrollableTable {
    overflow-x: auto;
}

.parameterValues td {
    background-color: #c8c8c8;
}

/* Not in use
.flip3D {
    width: 49%;
    height: 200px;
    margin-bottom: 30px;
    text-align: center;
}

.front {
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    -webkit-transform: perspective(600px) rotateY(0deg);
    background-color: #dddddd;
    width: 48%;
    height: 200px;
    border: 2px solid #f1f1f1;
    border-radius: 7px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform .5s linear 0s;
    transition:  -webkit-transform .5s linear 0s;
}

.back {
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    -webkit-transform: perspective(600px) rotateY(180deg);
    background-color: #dddddd;
    width: 48%;
    height: 200px;
    border: 2px solid #f1f1f1;
    border-radius: 7px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform .5s linear 0s;
    transition:  -webkit-transform .5s linear 0s;
}

.front p {
    padding: 5px;
    height: 77%;
    color: black;
}

.back p {
    padding: 5px;
    height: 77%;
    color: black;
}*/

.centerDivImages {
    max-width: 815px;
    margin: 0 auto;
}

@media screen and (min-width: 1250px) {
    .containButtons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .collapsible {
        max-width: 1200px;
    }
    .content {
        min-width: 1164px;
        max-width: 1164px;
    }
    .innerContent {
        max-width: 1150px;
    }
}

@media screen and (max-width: 937px) {
    .centerDivImages {
        max-width: 415px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .centerDivImages {
        max-width: 200px;
        margin: 0 auto;
    }
}

.center {
    margin: auto;
    max-width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.center img {
    width: 100%;
    max-height: 700px;
    object-fit: contain;
    margin-bottom: -5px;
}

.center img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.imageRow {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
}

.imageColumn {
    flex: 33.33%;
    padding: 4px;
}

.imageColumn img {
    max-width: 350px;
    min-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imageColumn img:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* Responsive layout - makes a 3 column-layout */
@media screen and (min-width: 1096px) {
    .imageColumn {
        -ms-flex: 20%;
        flex: 20%;
    }
}

/* Responsive layout - makes a two column-layout */
@media screen and (max-width: 700px) {
    .imageColumn {
        -ms-flex: 50%;
        flex: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .imageColumn {
        -ms-flex: 100%;
        flex: 100%;
    }
    .imageColumn img {
        width: 100%;
    }
}

.columns {
    width: 100%;
}

.columns div {
    width: 49%;
    float: left;
}

.shortcutIcon img {
    float: left;
    max-height: 40px;
    position: relative;
    top: 2px;
    padding-right: 10px;
    z-index: inherit;
}

.buttonCollection {
    width: 100%;
    text-align: center;
    margin: auto;
}

.hideTR {
    display: none;
}